<div class="container mt-3">
    <div class="row justify-content-center">

        <div class="col-lg-4 offset-lg-1 mx-0 px-0">
            <div id="title-container">
                <div class="row">
                    <div class="col">
                        <img class="sentinel-logo" src="../../../assets/img/sentinel-logo_ver.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 mx-0 px-0">

            <div id="qbox-container">

                <h3>Welkom bij de Sentinelmonitor.</h3><br />

                <p>Met het inbrengen van jouw signaal van (mogelijk) slachtofferschap van arbeidsuitbuiting,
                    help je de Sentinelmonitor met het in kaart brengen en voorkomen van slachtofferschap. Waarvoor
                    dank.</p>

            </div>
        </div>
    </div>
</div>