<div class="container mt-3">
    <div class="row justify-content-center">

        <div class="col-lg-4 offset-lg-1 mx-0 px-0">
            <div id="title-container">
                <div class="row">
                    <div class="col">
                        <img class="sentinel-logo" src="../../../assets/img/sentinel-logo_ver.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 mx-0 px-0">

            <div id="qbox-container">

                <figure class="text-center">

                    <blockquote class="blockquote">

                        <p>Dankzij jouw ingebrachte signalen hebben we in het afgelopen jaar meer en beter kunnen
                            registreren</p>

                        <p class="text-primary"><strong>{{ data.totalReports }} gevallen</strong></p>

                        <p>en meer inzicht verkregen in het fenomeen.</p>

                        <button class="btn btn-success me-md-2" type="button" routerLink="/location">Meld nog een
                            signaal</button>

                    </blockquote>

                </figure>

            </div>
        </div>
    </div>
</div>